<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <a class="navbar-brand" href="#">The Lien Store</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a ui-sref="search">Search <span class="sr-only">(current)</span></a></li>-->
                    <!--<li><a ui-sref="create">Create</a></li>-->
                    <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                    <!--<li><a href="#">Action</a></li>-->
                    <!--<li><a href="#">Another action</a></li>-->
                    <!--<li><a href="#">Something else here</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#">One more separated link</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>
                <!--<form class="navbar-form navbar-left" role="search">-->
                <!--<div class="form-group">-->
                <!--<input type="text" class="form-control" placeholder="Search">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-default">Submit</button>-->
                <!--</form>-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="logout();">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <button class="btn btn-green" ng-click="moveToSearch();">Back to Search</button>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="surveyElement"></div>
                <div id="surveyResult" style="display: none"></div>
                <input type="text" style="display: none" id="result">
            </div>
            <div class="col-md-3">
                <form>
                    <div class="form-group">
                        <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name" ng-model="document.First">
                    </div>
                    <div class="form-group">
                        <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name" ng-model="document.Last">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" ng-model="document.Email">
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="frb-group">
                                <!--<div class="frb frb-default">-->
                                    <!--<input type="radio" id="radio-button-0" name="radio-button" value="0">-->
                                    <!--<label for="radio-button-0">-->
                                        <!--<span class="frb-title">Sumbit as Attorney</span>-->
                                        <!--<span class="frb-description"></span>-->
                                    <!--</label>-->
                                <!--</div>-->
                                <div class="frb frb-primary">
                                    <input type="radio" id="radio-button-1" name="radio-button" value="1">
                                    <label for="radio-button-1">
                                        <span class="frb-title">Sumbit as Attorney</span>
                                        <span class="frb-description"></span>
                                    </label>
                                </div>
                                <!--<div class="frb frb-success">-->
                                    <!--<input type="radio" id="radio-button-2" name="radio-button" value="2">-->
                                    <!--<label for="radio-button-2">-->
                                        <!--<span class="frb-title">Sumbit as Attorney</span>-->
                                        <!--<span class="frb-description"></span>-->
                                    <!--</label>-->
                                <!--</div>-->
                                <!--<div class="frb frb-info">-->
                                    <!--<input type="radio" id="radio-button-3" name="radio-button" value="3">-->
                                    <!--<label for="radio-button-3">-->
                                        <!--<span class="frb-title">Sumbit as Attorney</span>-->
                                        <!--<span class="frb-description"></span>-->
                                    <!--</label>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <div>
                <label for="inputImage4">Image 4</label>

                <input id="inputImage4"
                       type="file"
                       accept="image/*"
                       multiple
                       image="images4"
                       resize-max-height="300"
                       resize-max-width="250"
                       resize-quality="0.7" />

                <!--<p>Originals</p>-->
                <!--<img ng-repeat="img in images4" ng-src="{{img.url}}" type="{{img.file.type}}"/>-->
                <!--<p>Resized</p>-->
                <img ng-repeat="img in images4" ng-src="{{img.resized.dataURL}}" />
                <button type="submit" ng-click="multiple(images4)">Add</button>
            </div>
        </div>
        <button id="saveBtn" type="button" class="btn btn-success" data-dismiss="modal" ng-click="createLean()" style="display: none;">Save</button>
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
    </div>

    <script>
        Survey.Survey.cssType = "bootstrap";
        Survey.defaultBootstrapCss.navigationButton = "btn btn-green";

        window.survey = new Survey.Model({pages:[{elements:[{type:"radiogroup",choices:["Yes","No"],isRequired:true,name:"question1",title:"Are you aware of any healthcare insurance liens?"},{type:"text",name:"If so, please explain:",visible:false,visibleIf:"{question1}='Yes'"},{type:"matrixdropdown",choices:["Yes","No"],columns:[{name:"Yes",cellType:"radiogroup"}],name:"Have you received any letters from the following?",rows:["ACS Recovery","JW Hutton","Ingenix","Primax Recoveries","Gammage & Burnham"],title:"question2"},{type:"text",name:"Other",title:"Other"}],name:"page1"},{elements:[{type:"radiogroup",choices:["Yes","No"],isRequired:true,name:"Sample1",title:"Are you aware of any health insurance self-funded (ERISA) plans?"},{type:"comment",name:"If so, please explain:",rows:2,visible:false,visibleIf:"{Sample1}='Yes'"}],name:"page2"},{elements:[{type:"radiogroup",choices:["Yes","No"],isRequired:true,name:"Sample2",title:"Are you aware of any hospital liens?"},{type:"comment",name:"If so, please explain:",rows:2,visible:false,visibleIf:"{Sample2}='Yes'"}],name:"page3"},{elements:[{type:"radiogroup",choices:["Yes","No"],isRequired:true,name:"Sample4",title:"Are you aware of any medical provider liens?"},{type:"comment",name:"If so, please explain:",rows:2,visible:false,visibleIf:"{Sample4}='Yes'"}],name:"page4"},{elements:[{type:"radiogroup",choices:["Yes","No"],isRequired:true,name:"Sample5",title:"Are you aware of any Medicare liens?"},{type:"comment",name:"If so, please explain:",rows:2,visible:false,visibleIf:"{Sample5}='Yes'"}],name:"page5"},{elements:[{type:"radiogroup",choices:["Yes","No"],isRequired:true,name:"Sample5",title:"Are you aware of any Medicaid liens?"},{type:"comment",name:"If so, please explain:",rows:2,visible:false,visibleIf:"{Sample5}='Yes'"}],name:"page6"},{elements:[{type:"radiogroup",choices:["Yes","No"],isRequired:true,name:"Sample6",title:"Are you aware of any Medicare Advantage liens?"},{type:"comment",name:"If so, please explain:",rows:2,visible:false,visibleIf:"{Sample6}='Yes'"}],name:"page7"},{elements:[{type:"radiogroup",choices:["Yes","No"],isRequired:true,name:"Sample7",title:"Are you aware of any AHCCCS liens?"},{type:"comment",name:"If so, please explain:",rows:2,visible:false,visibleIf:"{Sample7}='Yes'"}],name:"page8"},{elements:[{type:"radiogroup",choices:["Yes","No"],isRequired:true,name:"Sample8",title:"Are you aware of any Med Pay liens? "},{type:"comment",name:"If so, please explain:",rows:2,visible:false,visibleIf:"{Sample8}='Yes'"}],name:"page9"},{elements:[{type:"radiogroup",choices:["Yes","No"],isRequired:true,name:"Sample9",title:"Are you aware of any recorded liens?"},{type:"comment",name:"If so, please explain:",rows:2,visible:false,visibleIf:"{Sample9}='Yes'"}],name:"page10"},{elements:[{type:"radiogroup",choices:["Yes","No"],isRequired:true,name:"Sample10",title:"Are you aware of any consensual liens? "},{type:"comment",name:"If so, please explain:",rows:2,visible:false,visibleIf:"{Sample10}='Yes'"}],name:"page11"},{elements:[{type:"radiogroup",choices:["Yes","No"],isRequired:true,name:"Sample11",title:"Are you aware of any third party liens? "},{type:"comment",name:"If so, please explain:",rows:2,visible:false,visibleIf:"{Sample11}='Yes'"}],name:"page12"},{elements:[{type:"radiogroup",choices:["Yes","No"],isRequired:true,name:"sample",title:"Are you aware of any federal liens? "},{type:"comment",name:"If so, please explain:",rows:2,visible:false,visibleIf:"{sample}='Yes'"}],name:"page13"},{elements:[{type:"radiogroup",choices:["Yes","No"],isRequired:true,name:"Sample12",title:"Are you aware of any worker’s compensation claims? "},{type:"comment",name:"If so, please explain:",rows:2,visible:false,visibleIf:"{Sample12}='Yes'"}],name:"page14"},{elements:[{type:"radiogroup",choices:["Yes","No"],isRequired:true,name:"Sample13",title:"Are you aware of any collection accounts? "},{type:"comment",name:"If so, please explain: ",rows:2,visible:false,visibleIf:"{Sample13}='Yes'"}],name:"page15"}]});
        survey.onComplete.add(function (result) {
            document.querySelector('#surveyResult').innerHTML = JSON.stringify(result.data);
//            alert(JSON.stringify(result.data));

            document.getElementById("result").value =JSON.stringify(result.data);
            document.getElementById("saveBtn").style.display = '';
//        $.ajax({
//            type: "POST",
//            url: "",
//            data: data,
//            success: success,
//            dataType: 'json'
//        });
        });


        $("#surveyElement").Survey({model: survey});
    </script>
</div>