<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Login to Lien Store <small></small></h3>
                </div>
                <div class="panel-body">
                    <form role="form" ng-submit="login()">
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" ng-model="user.email">
                        </div>

                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" ng-model="user.password">
                        </div>

                        <input type="submit" value="Login" class="btn btn-info btn-block">
                        <a ng-click="toRegister();" class="btn btn-link">Register</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>