<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <a class="navbar-brand" href="#">The Lien Store</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a ui-sref="search">Search <span class="sr-only">(current)</span></a></li>-->
                    <!--<li><a ui-sref="create">Create</a></li>-->
                    <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                    <!--<li><a href="#">Action</a></li>-->
                    <!--<li><a href="#">Another action</a></li>-->
                    <!--<li><a href="#">Something else here</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#">One more separated link</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>
                <!--<form class="navbar-form navbar-left" role="search">-->
                <!--<div class="form-group">-->
                <!--<input type="text" class="form-control" placeholder="Search">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-default">Submit</button>-->
                <!--</form>-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="logout();">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div id="imaginary_container">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="searchKey">
                        <span class="input-group-addon">
                        <button type="submit" ng-click="searchLiens();">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-info" aria-hidden="true" data-toggle="modal" ng-click="moveToCreate();"><span class="fa fa-plus"></span></button>
            </div>
        </div>
        <div class="row">
            <hr/>
        </div>
        <div class="row">
            <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
                <ul id="promos" style="list-style-type: none;">
                    <li id="topli" ng-repeat="doc in documentList">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <span class="text-left" ng-show="doc.type != 'internal'"><span class="label label-default">External</span></span>
                                        <span class="text-left" ng-show="doc.type == 'internal'"><span class="label label-default">Internal</span></span>
                                        <span class="text-right"><span class="label label-success">{{doc.status}}</span></span>
                                    </div>
                                    <h3>
                                        {{doc.lien.DocumentType!=null?doc.lien.DocumentType:'Medical Lien'}}
                                        <small>@{{doc.lien.RecordingDate!=null?doc.lien.RecordingDate:'06/29/2017'}}</small>
                                    </h3>
                                    <span class="text-success text-right">{{external}}</span>
                                    <ol>
                                        <li type="1" style="display: list-item;" ng-repeat="idoc in doc.lien.documents">
                                            <a>{{idoc.Last}}</a>
                                        </li>
                                    </ol>
                                    <div>
                                        <a type="button" ng-click="validateDocument(doc)" class="btn btn-info">Validate</a>
                                        <a type="button" class="btn btn-success pull-right" data-toggle="collapse" data-target="#{{$index}}" aria-expanded="true"><span class="fa fa-plus"></span></a>
                                    </div>
                                    <!--<br/>-->
                                    <!--<br/>-->
                                    <!--<br/>-->
                                    <hr/>
                                </div>
                                <div class="col-md-12" id="{{$index}}" class="collapse">
                                    <!--<div>-->
                                        <!--<p class="text-justify">-->
                                            <!--I don't think there's a builtin function in angular for doing this, but you can do this by creating a separate scope property containing all the header names, and you can fill this property automatically like this:-->
                                        <!--</p>-->
                                    <!--</div>-->
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2">
                                                    <h4>Details</h4>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(key, value) in doc">
                                                <td ng-show="key != 'content' && key != 'images'">{{key}}</td>
                                                <td ng-show="key != 'content' && key != 'images'">{{value}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-md-8">
                                        <table class="tabletable-hover">
                                            <thead>
                                            <tr>
                                                <th colspan="2">
                                                    <h5>Document Details</h5>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="(key, value) in doc.content">
                                                <td>{{key}}</td>
                                                <td>{{value}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-4">
                                        <div ng-repeat="image in doc.images">
                                            <!--{{image}}-->
                                            <img width="200px;" src="{{image.url}}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>